model_config_list:{
    config:{
      name:"mind_user",
      base_path:"/models/deep_rec_model/mind_user",
      model_platform:"tensorflow"
    },
	config:{
      name:"mind",
      base_path:"/models/deep_rec_model/mind",
      model_platform:"tensorflow"
    },
    config:{
      name:"tf_exp",
      base_path:"/models/deep_rec_model/tf_exp",
      model_platform:"tensorflow"
    },
}

